h1 {
    font-style: italic;
    text-align: center;
    color: #12ab3c;
}

p {
    text-align: center;
    font-family:sans-serif;
    color: red;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#topic {
    color: #f6cb23;
    font-weight: bold;
    font-size: 40px;
}