h1 {
    font-family: 'Lobster', cursive;
    font-style: italic;
    color: #12ab3c;
}

p {
    font-family:sans-serif;
    color: red;
}

#topic {
    color: #f6cb23;
    font-weight: bold;
    font-size: 40px;
}

