body {
    width: fit-content;
    text-align: center;
    background-color: #e8e8e8;
    margin: 50px auto 50px auto;
}

img {
    width: 254px;
    height: 326px;
    border-radius: 10px;
    margin:  20px 20px 20px 20px;
}

body h1{
    margin: 20px auto 20px auto;
}

body h2{
    padding: 5px 5px 5px 5px;
    margin: 0px auto 0px auto;
}

header p {
    margin-top: 10px;
    margin-bottom: 10px;
}

body p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 5px 5px 5px;
}

a{
    color: #4444ff;
}

a:hover{
    text-decoration: underline;
    background-color: #4444ff;
    border-radius: 5px;
    color: #fefefe;
}