body {
    text-align: center;
    background-color: #fefefe;
    margin: 50px;
}

img {
    width: 254px;
    height: 326px;
    border-radius: 10px;
}

a{
    color: #4444ff;
}

a:hover{
    text-decoration: underline;
    background-color: #4444ff;
    border-radius: 5px;
    color: #fefefe;
}