h1 {
    font-family: 'Lobster', cursive;
    font-style: italic;
    color: #12ab3c;
}

main p {
    font-family:sans-serif;
    color: red;
}

ul {
    list-style: none;
}

#topic {
    font-family: 'Sofia Sans', sans-serif;
    color: #f6cb23;
    font-weight: bold;
    font-size: 20px;
}

